<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MMA</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content>
    <ion-card class="welcome-card">
      <hr>
        <ion-item class="img">
      <img src="/assets/mma.jpg" alt="" />
    </ion-item>
    
      <ion-card-content class="text">
        <p>
            Las artes marciales mixtas, conocidas como MMA (sus iniciales en inglés),
             es un deporte de combate y contacto que autoriza el uso de varias técnicas
              de pelea y estilos dentro de un mismo combate. En ellos está permitidas tanto 
              las técnicas de sumisión (de pie o en el suelo), como las técnicas de golpe.
         </p>
      </ion-card-content>
      
      <ion-card-title class="title">Reglas</ion-card-title>
      <hr>
      <ion-item class="img">
          <img src="/assets/mma1.png" alt="" />
        </ion-item>
      <ion-card-content class="text">
          <ul>
            <li>El uso obligatorio de protector bucal. </li>
            <li> Uso de vendaje en las manos.</li>
            <li> Los combatientes deben usar guantes de cuatro onzas. </li>
            <li> Deben portar protectores de ingle (caballeros) y de pecho (damas).</li>
            <li> Los luchadores utilizarán shorts, no llevarán franelas ni vendajes en los pies 
              (masculino); las damas lucirán una franela, shorts y no llevarán vendaje en los pies. </li>
            <li> Las peleas serán a tres asaltos con duración no mayor a cinco minutos.</li>
            <li> La evaluación quedará a cargo de tres jueces que estarán en distintas ubicaciones durante el combate.</li>
          </ul>
      </ion-card-content>
    </ion-card>
  </ion-content>
  