.gris {
    background-color: #eee;
  }
  .table tr:nth-child(2) {
    background-color: #eee;
  }
  
  .table tr:nth-child(even) {
    background-color: #eee;
  }
  
  .blanco {
    background-color: rgb(253, 253, 253);
  }
  .img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
   
    
  }
  .title{
    text-align: center;
  }

  .centrado{
  text-align: center;
}