.gris {
    background-color: #eee;
  }
  .table tr:nth-child(2) {
    background-color: #eee;
  }
  
  .table tr:nth-child(even) {
    background-color: #eee;
  }
  
  .blanco {
    background-color: rgb(253, 253, 253);
  }