<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Detalles Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <img class="img-fluid" src="{{alumno.photoUrl}}">
  </ion-item>
    <ion-grid>
        <ion-row>
          <ion-col size="3">
              Matricula:
          </ion-col>
          <ion-col>
              {{alumno.matricula}}
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                Nombre:
            </ion-col>
            <ion-col>
                {{alumno.nombreC}}
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col size="4">
                  Fecha de Nacimiento:
              </ion-col>
              <ion-col>
                  {{alumno.diaAlumno}}/{{alumno.mesAlumno}}/{{alumno.yearAlumno}}
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4">
                    Direccion:
                </ion-col>
                <ion-col>
                    {{alumno.direccion}}
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Sexo:
                  </ion-col>
                  <ion-col>
                      {{alumno.sexo}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Victoria: 
                  </ion-col>
                  <ion-col>
                      {{alumno.gano}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Derota:
                  </ion-col>
                  <ion-col>
                      {{alumno.perdio}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Empate:
                  </ion-col>
                  <ion-col>
                      {{alumno.empate}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Cel:
                  </ion-col>
                  <ion-col>
                      {{alumno.cel}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Apodo:
                  </ion-col>
                  <ion-col>
                      {{alumno.apodo}}
                  </ion-col>
              </ion-row>
                
              <ion-row>
                  <ion-col size="3">
                      Grado:
                  </ion-col>
                  <ion-col>
                      {{alumno.grado}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Peso:
                  </ion-col>
                  <ion-col>
                      {{alumno.peso}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="4">
                      Problemas de Salud:
                  </ion-col>
                  <ion-col>
                      {{alumno.salud}}
                  </ion-col>
              </ion-row>

                <h2> Datos del Tutor</h2>

              <ion-row>
                  <ion-col size="3">
                      Nombre:
                  </ion-col>
                  <ion-col>
                      {{alumno.tutor}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="4">
                      Dirección:
                  </ion-col>
                  <ion-col>
                      {{alumno.direccionTutor}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Telefono:
                  </ion-col>
                  <ion-col>
                      {{alumno.telefonoTutor}}
                  </ion-col>
              </ion-row>

              <h4>Datos del Profesor</h4>

              <ion-row>
                  <ion-col size="3">
                      Nombre:
                  </ion-col>
                  <ion-col>
                      {{alumno.nombreProf}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Edad:
                  </ion-col>
                  <ion-col>
                      {{alumno.edadProf}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="3">
                      Sexo:
                  </ion-col>
                  <ion-col>
                      {{alumno.sexoProf}}
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col size="4">
                      Dirección:
                  </ion-col>
                  <ion-col>
                      {{alumno.direccionProf}}
                  </ion-col>
              </ion-row>

        </ion-grid>
        <ion-button color="primary"  [routerLink]="['/modal-alumno', alumno.id]">
            <ion-label>Editar</ion-label>
        </ion-button>

    </ion-content>
    <!-- <ion-modal [userUid="userUid"]></ion-modal> -->
    