<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <ion-slides>
          <ion-slide><img src="assets/evento.png" /></ion-slide>
          <ion-slide><img src="assets/foto4.png" /></ion-slide>
          <ion-slide><img src="assets/foto3.png" /></ion-slide>
        </ion-slides>
    <ion-card-header>
      <ion-card-title>Evento de MMA Fin de año</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El club de pelea Ledos Team Tepeaca Te invita a asistir a nuestras grande cartelera!</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-slides>
        <ion-slide><img src="assets/foto2.png" /></ion-slide>
        <ion-slide><img src="assets/evento6.png" /></ion-slide>
        <ion-slide><img src="assets/evento5.png" /></ion-slide>

      </ion-slides>
      <ion-card-header>
          <ion-card-title>Contaremos con una pelea internacional</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Tendremos un encuentro internacional en la modalidad de Muay Thai.
            MÉXICO VZ ESPAÑA 
            Directamente de Barcelona España @javier Pinedo en 
            contra de Jaime caché flores de instituto Romano Tecamachalco  </p>
        </ion-card-content>
    </ion-card>
  



 
   
</ion-content>
