<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="kick-boking">
        <ion-icon name="flash"></ion-icon>
        <ion-label>kick-boxing</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="mma">
        <ion-icon name="apps"></ion-icon>
        <ion-label>MMA</ion-label>
      </ion-tab-button>  
      
      <ion-tab-button tab="jiu-jitsu">
        <ion-icon name="send"></ion-icon>
        <ion-label>jiu-jitsu</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
