<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-menu-toggle  *ngIf="!isLogged" >
              <ion-item>
                  <ion-icon slot="start"  name="folder"></ion-icon>
                  <ion-label  routerLink="/list-peleadores">
                    Peleadores
                   </ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <ion-list>
            <ion-menu-toggle  *ngIf="isLogged" >
                <ion-item>
                    <ion-icon slot="start"  name="folder"></ion-icon>
                    <ion-label  routerLink="/alumno">
                      Datos de Alumnos
                     </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </ion-list>

        <ion-list>
          <ion-menu-toggle  *ngIf="!isLogged" >
              <ion-item>
                  <ion-icon slot="start"  name="person"></ion-icon>
                  <ion-label routerLink="/login">
                    Login
                   </ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
            <ion-menu-toggle  *ngIf="isLogged" >
                <ion-item>
                    <ion-icon slot="start"  name="log-out"></ion-icon>
                    <ion-label (click)="onLogout()">
                      Salir
                     </ion-label>
                </ion-item>
            </ion-menu-toggle>
          </ion-list>



      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
