<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jiu Jitsu</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content>
    <ion-card class="welcome-card">
      <hr>
        <ion-item class="img">
      <img src="/assets/JJB.jpg" alt="" />
    </ion-item>
    
      <ion-card-content class="text">
        <p>
            El JIU JITSU es un arte marcial afincado en Japón. Este comprende una 
            amplia variedad de estilos de combate, basados en la defensa «sin armas»
             de uno o más combatientes.
            Las técnicas básicas del JIU-JITSU incluyen como defensa principal las
             luxaciones articulares(llaves), y golpes como patadas o rodillazos entre otras.
         </p>
      </ion-card-content>
      
      <ion-card-title class="title">Inicios</ion-card-title>
      <hr>
      <ion-item class="img">
          <img src="/assets/JJB.png" alt="" />
        </ion-item>
      <ion-card-content class="text">
        <p>
            Sus inicios en Japón se remontan al periodo del siglo VIII y XVI. En esa época la tecnología era 
          muy primitiva por lo cual las batallas se decidían en campo abierto y se disputaban en luchas de 
          cuerpo a cuerpo en el campo de batalla. El tipo de guerrero más valeroso en Japón era en aquella
           época el Samurai.endente desde el exterior.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  