<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ranking Ledos Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/mma4.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
        <ion-card-title>Artes Marciales Mixtas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>El club de pelea te invita a formar parte de su equipo con profesores certificados y calificados, la mejor opcion en Tepeaca para entrenar artes marciales mixtas.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item  >
            <ion-label><h1>Servicios</h1></ion-label>
          </ion-item>
        <ion-item  >
            <ion-label>Kick Boxing</ion-label>
          </ion-item>
    
          <ion-item  >
            <ion-label>MMA</ion-label>
          </ion-item>
    
          <ion-item >
            <ion-label>Jiu Jitsu</ion-label>
          </ion-item>
    
    </ion-card>

    
    <ion-card class="welcome-card">
        <img src="/assets/jaula.png" alt="" />
        <ion-card-header>
          <ion-card-title>Jaula Profesional</ion-card-title>
        </ion-card-header>
      </ion-card>
      
    <ion-card class="welcome-card">
        <img src="/assets/caminadora.png" alt="" />
        <ion-card-header>
          <ion-card-title>Caminadora </ion-card-title>
        </ion-card-header>
      </ion-card>

</ion-content>

