<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > Kick Boxing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <hr>
      <ion-item class="img">
    <img src="/assets/kick.jpg" alt="" />
  </ion-item>
  
    <ion-card-content class="text">
      <p>
        El kick boxing es un deporte de combate de origen japonés y desarrollo occidental,
         en el cual, se mezclan las técnicas del boxeo con las técnicas de patadas de algunas
          artes marciales como el karate y el muay thai, estando así relacionado de las artes
           marciales de oriente.
       </p>
    </ion-card-content>
    
    <ion-card-title class="title">Técnicas del kick boxing</ion-card-title>
    <hr>
    <ion-item class="img">
        <img src="/assets/kick1.png" alt="" />
      </ion-item>
    <ion-card-content class="text">
        <ul>
          <li> Cross: Puñetazo directo con la mano retrasada de tu guardia. </li>
          <li> Crochet: Gancho horizontal.  </li>
          <li> Uppercut: Gancho vertical. </li>
          <li> Low Kick: Patada circular baja, golpeando el muslo.</li>
          <li> Mid Kick: Patada circular media, a la altura del estomago. </li>
          <li>  High Kick: Patada circular alta, buscando la cabeza.</li>
          <li>  Front Kick: Patada frontal, con la planta del pie.</li>
          <li>  Heel Kick: Patada con movimiento descendente desde el interior.</li>
          <li> Axe Kick: Patada con movimiento descendente desde el exterior.</li>
        </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
