<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Peleadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Hola detalles Peleadores</h1>

<ion-grid>
    <ion-row>
      <ion-col>
          hola hola hola
      </ion-col>
      <ion-col>
        ion-col ion-col ion-col   ion-col ion-col ion-col   ion-col ion-col ion-col
      </ion-col>
    
    </ion-row>
  
 
  
    
  </ion-grid>
</ion-content>
